@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #121214;
    font-family: 'Roboto', sans-serif;
    color: #d6d3d3;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    border-bottom: 2px solid #282a36;
    background: #202024;
}

.inner_header {
    width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container img {
    width: 250px;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation li {
    height: 100%;
    display: table;
    float: left;
    padding: 0 30px;
}

.navigation li a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #d6d3d3;
    font-size: 1.15em;
    font-weight: lighter;
}

li a:hover {
    color: #04D361;
    transition: color 200ms;
}

