@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";

:root {
    --color-background: #121214;
    --color-green: #04d361;
    --color-red: #e83f5b;
    --color-orange: #fd951f;
    --color-yellow: #f7df1e;
    --color-primary: #8257e6;
    --color-primary-hover: #9466ff;
    --color-secondary: #e1e1e6;
    --color-text: #a8a8b3;
    --color-support: #737380;
    --color-shape: #202024;
    --color-shape-hover: #29292e;
    --color-icons: #41414d;
    --color-borders: #323238;
    --color-black: #0d0d0f;
    --color-border: #282a36;
    --border-radius-primary: 36px;
    --border-radius-secondary: 8px;
}

main {
    padding: 20px;
    display: block;
    text-align: center;
}

.content h1 {
    font-size: 64px;
    line-height: 74px;
    font-weight: 700;
    max-width: 615px;
    margin: auto;
    padding-bottom: 8px;
    color: var(--color-secondary);
}

.content h2 {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 24px;
    color: var(--color-text);
}

.content span {
    font-weight: 700;
    border-bottom: 3px solid var(--color-green);
}

.articles {
    max-width: 95%;
    margin: auto;
    padding: 24px 0;
}

.focus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    left: 0;
    top: 0;
    
}

.focus .featured-image img {
    width: 100%;
    border-radius: var(--border-radius-secondary); 
}

.focus h2 {
    max-width: 400px;
    font-size: 48px;
    font-weight: 600;
    margin: auto;
    text-align: start;
    line-height: 1.2;
    color: var(--color-secondary); 
}

.posts {
    max-width: 95%;
    margin: auto;
    padding: 24px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.article {
    background: var(--color-shape);
    width: 90%;
    height: 45vh;
    border-radius: var(--border-radius-primary);
}

.article:hover {
    transform: translateY(-1%);
    transition: 0.5s;
}

.article img {
    width: 100%;
    border-radius: 36px 36px 0 0;
}

.article h2 {
    max-width: 250px;
    margin: auto;
    padding: 16px; 
    text-align: center;  
}
    
    





